<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>hotel</title>
    <style>
        div {
            width:45%;
            float:left;"
            }
    </style>
</head>
<body>

        <div>
            <p>${rowsWritten} rows were added</p>
            <p>There are ${bedsWritten} beds</p>


        </div>
        <div>
            <form action="/setHotel" method="GET">
                <input type="submit" value="BackTo Set Hotel">
            </form>
        </div>

</body>
</html>

