<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Бронирование мест. ${hotelName} ${currentYear}г.</title>
</head>
<body>
<h1>${hotelName} Отдых ${currentYear}</h1>
<div>
    ${outputTable}
</div>
<div>
    <p>${promptText}</p>
    <form action="/*" method="POST">
        ${start}<br> <input type="date" name="startDate"/><br>
        ${end}<br> <input type="date" name="endDate"/><br>
        Показать &nbsp;&nbsp; -> &nbsp;&nbsp; <input type="submit" value="Ok">
    </form>
</div>

</body>
</html>

