<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>hotel</title>
    <style>
        div {
        width:45%;
        float:left;"
        }
    </style>
</head>
<body>
<p>To correct and easy fill fields, use <strong>Opera</strong> browser. (<strong>11.05.2017</strong> - data template just in case)</p>
<div>
    <p>${promptText}</p>
    <form action="/season" method="POST">
        ${start}<br> <input type="date" name="startDate"/><br>
        ${end}<br> <input type="date" name="endDate"/><br>
        is OK? &nbsp;&nbsp;&nbsp;&nbsp; <input type="submit" value="Ok">
    </form>
</div>
<div>
    <p>Count of Days Treated: ${countDaysAdded}</p>


    <p> ${isWrote}</p>
</div>
</body>
</html>

